<!--BREADTH.HTML --> 


<div class="jumbotron">
<section class="cent">
  <h2>Breadth Courses</h2>
  <p>For each category, slide to the amount of credits you have taken.</p>

    <!-- B-Hum Slider -->
  	<p class="breadth-p lead">
  		<strong>B-Hum:</strong>
		<output id="rangevalue1" ng-model="num1">0</output> credits.

		<input type="range" min="0" max="6" value="0" class="slideStyle" onchange="rangevalue1.value=value"/>

	</p>

	<!-- B-Sci Slider -->
	<p class="breadth-p  lead">
		<strong>B-Sci:</strong>
		<output id="rangevalue2" ng-model="num2">0</output> credits.
		<input type="range" min="0" max="6" value="0" class="slideStyle" onchange="rangevalue2.value=value"/>

	</p>

	<!-- B-Soc Slider -->
	<p class="breadth-p  lead">
		<strong>B-Soc:</strong>
		<output id="rangevalue3" ng-model="num3">0</output> credits.		
		<input type="range" min="0" max="6" value="0" class="slideStyle" onchange="rangevalue3.value=value"/>
	</p>

	<!-- Undesignated Slider -->
	<p class="breadth-p  lead">
		<strong>Undesignated:</strong>
		<output id="rangevalue4" ng-model="num4">0</output> credits.
		<input type="range" min="0" max="6" value="0" class="slideStyle" onchange="rangevalue4.value=value"/>

		
	</p>
	
	<!-- Calculate Results -->
	<p>
		<input type="text" value="{{result}}" disabled /> 
		<input type="button" ng-Click="total(num1, num2, num3, num4)" value="CALCULATE TOTAL CREDITS">
	</p>
	</section>
</div>

<!-- Fixed footer. -->
  <div class="footer">
    <ul class="nav">
      <li ><a class="tab" ng-href="#/degree">Degree</a></li>
      <li><a class="tab" ng-href="#/iat">IAT</a></li>
      <li><a class="tab active" ng-href="#/breadth">Breadth</a></li>
    </ul>
  </div>
