<div ng-app="slider">

<div class="jumbotron">
<section>
  <h2>Breadth Courses</h2>
  <p>For each category, slide to the amount of credits you have taken.</p>

  	
  	<p class="breadth-p lead">
  		<!--B-Hum Slider-->
		<input type = "range" min="0" max="6" value="0" onchange="rangevalue1.value=value"/>
		<strong>B-Hum:</strong>
		<output id="rangevalue1">0</output>
	</p>

	<p class="breadth-p  lead">
		<!--B-Sci Slider-->
		<input type = "range" min="0" max="6" value="0" onchange="rangevalue2.value=value"/>
		<strong>B-Sci:</strong>
		<output id="rangevalue2">0</output>
	</p>

	<p class="breadth-p  lead">
		<!--B-Soc Slider-->
		<input type = "range" min="0" max="6" value="0" onchange="rangevalue3.value=value"/>
		<strong>B-Soc:</strong>
		<output id="rangevalue3">0</output>		
	</p>

	<p class="breadth-p  lead">
		<!--Undesignated Slider-->
		<input type = "range" min="0" max="6" value="0" onchange="rangevalue4.value=value"/>
		<strong>Undesignated:</strong>
		<output id="rangevalue4">0</output>
		
	</p>
	
	<!--Calculate Total-->
	<script>
		function totalIt() {
	     var rval01 = document.getElementById("rangevalue1").value;
	     var rval02 = document.getElementById("rangevalue2").value;
	     var rval03 = document.getElementById("rangevalue3").value;
	     var rval04 = document.getElementById("rangevalue4").value;

	     if ((isNumeric(rval01, true)) && (isNumeric(rval02, true)) && (isNumeric(rval03, true)) && (isNumeric(rval04, true))) {
	         rval01 = parseFloat(rval01);
	         rval02 = parseFloat(rval02);
	         rval03 = parseFloat(rval03);
	         rval04 = parseFloat(rval04);
	         var rvaltotal = rval01 + rval02 + rval03 + rval04;
	         document.getElementById("total").value = rvaltotal;
	         document.getElementById("total").submit();
	     } 
		}

		function isNumeric(sText, decimalAllowed) {
	        if (sText.length == 0) return false;
	    	var validChars = "";
			if (decimalAllowed) {
		    	validChars = "0123456789.";
			} else {
		   	 validChars = "0123456789";
			}
	        var isNumber = true;
	        var charA;
			var decimalCount = 0;
	        for (i = 0; i < sText.length && isNumber == true && decimalCount < 2; i++) {
	            charA = sText.charAt(i); 
		    if (charA == ".") { 
			decimalCount += 1;
		    }
	            if (validChars.indexOf(charA) == -1) {
	               isNumber = false;
	            }
	        }
	        return isNumber;
		}
	</script>
		
	<p>
		<form name="form1" id="form1" method="post" action="myphp.php">
	    <input type="text" name="total" id="total" readonly="true" />
	    <input type="button" name="btn" id="btn" value="Calculate Total Credits" onClick="totalIt()" />
		</form>
	</p>
	</section>

</div>
</div>

  <!-- Footer -->

      <div class="footer">
        <ul class="nav">
          <li ><a class="tab" ng-href="#/degree">Degree</a></li>
          <li><a class="tab" ng-href="#/iat">IAT</a></li>
          <li><a class="tab active" ng-href="#/breadth">Breadth</a></li>
        </ul>
      </div>
    </div>



